* {
    margin: 0;
    padding: 0;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  .slider-container {
    width: 50%;
    position: relative;
    margin: 0 auto;
  }
  
  .slider,
  .slider-item {
    padding-bottom: 40%;
  }
  
  .slider-item {
    position: absolute;
    width: 100%;
    background-size: 100%;
  }
  
  .slider-item1 {
    background: url(./title1.jpg);
  }
  
  .slider-item2 {
    background: url(./title2.jpg);
  }


  @keyframes fade {
    0% {
      opacity: 0;
    }
  
    25% {
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    75% {
      opacity: 0;
    }
  }
  /* .slider-item:hover{
      animation-play-state: paused;
  }  */

  .slider-item {
    position: absolute;
    width: 100%;
    background-size: 100%;
    animation: fade 8s linear;
    animation-iteration-count: infinite;
  }

  .slider-item{
    opacity:0;
  }
  .slider-item1{
    animation-delay: -1s;
  }
  .slider-item2{
    animation-delay: 3s;
  }