body{
    margin: 0;
    padding: 0;
    position: relative;
}
#header{
    position: relative;
    height: 120px;
    width: 100%;
    background-color: aqua;
    
}
#header div{
    display: inline-block;  
    height: 100%; 
}
#headerRight{
    
    position: absolute;
    display: inline-block;
    height: 120px;
    right: 0;
}
.rightNavEle{
    height: 100%;
    position:relative;
    margin: 0 10px;
    width: 100px;
    /* padding: auto; */
    display: inline-block;
    text-align: center;
    background-color:lightsalmon;
}
.rightNavEle>span{
    margin: auto;
    height: 120px;
    display: inline-block;
    /* text-align: center; */
    line-height: 120px;
    /* position: absolute;
   
    line-height: 120px;
    background: white;
    margin: 0 auto;
    line-height: 120px;
    font-size: 15px; */
}